﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
  font-size: 14px;
  background-color: #212121;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

input {
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    border-color: white;
    text-indent: 5px;
}

select {
    width: 32%;
    font-size: 18px;
    border-radius: 5px;
    border-color: lightgray;
}

input::placeholder {
    font-size: 18px;
}

label {
    text-align: left;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
}

.signupHeader {
    color: #ebc771;
}

.ptextstyle {
    font-size: 20px;
}

#panelistForm {
    border-radius: 5px;
    background-color: oldlace;
    max-width: 400px;
    padding: 25px;
    display: grid;
    grid-template-areas: 
        " gender " 
        " dateOfBirth "
        " zipcode "
        " email " 
        " submit ";
    grid-template-columns: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gender {
    grid-area: gender;
    display: inline-block;
}

.dateOfBirth {
    grid-area: dateOfBirth;
}

.email {
    grid-area: email;
}

.zipcode {
    grid-area: zipcode;
}

.submit {
    grid-area: submit;
    padding: 0.5rem;
    width: 80%;
    margin: auto;
    border: 0.5rem solid #ebc771;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    background: #ebc771;
    color: black;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2px;
}

.columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.inline {
    white-space: nowrap;
}

.headerContainer {
    height: 75px;
}