﻿
@{
    ViewData["Title"] = "AddPanelistFailed";
}

<div class="text-center">
    <h3 class="display-4 signupHeader">Ojdå, något gick fel.</h3>
    <p class="signupHeader ptextstyle">Vänligen kontrollera att din mejladress är korrekt.<br /> Går det fortfarande inte?</p>
    <p class="signupHeader ptextstyle">Kontakta Origo Group</p>
    <p class="signupHeader ptextstyle">
        Telefon: 010-18 33 600 <br />
        Email: support@origogroup.com
    </p>
</div>