﻿
@{
    ViewData["Title"] = "AddPanelistSuccess";
}

<div class="text-center">
    <h3 class="display-4 signupHeader">Nästan klar!</h3>
    <p class="signupHeader ptextstyle">Du har nu fått ett mejl skickat till eposten du angav.</p>
    <p style="color: white; font-size: 30px;">För att aktivera ditt medlemskap<br />vänligen klicka på länken i mejlet</p>
    <p class="signupHeader ptextstyle">Om du inte ser något mejl kontrollera skräpposten.</p>
    <p class="signupHeader ptextstyle">Du kan nu stänga fliken.</p>
    <p class="signupHeader ptextstyle">Vänliga hälsningar<br />Origo Group AB</p>
</div>