﻿@{
    ViewData["Title"] = "Origo Group";
}

<div class="text-center">
    <h1 class="display-4 signupHeader">Registrering</h1>
    <div>
        <center>
            <form id="panelistForm" asp-controller="Home" asp-action="AddPanelist" method="post" onsubmit="return getUrlParameter();">

                <div class="gender">
                    <div class="columnCenter">
                        <label>Kön</label>
                    </div>
                    <fieldset id="set" class="flexContainer">
                        <div class="inline">
                            <label for="set_male">
                                Man
                                <input id="set_male" type="radio" name="gender" value="m">
                            </label>
                        </div>
                        <div class="inline">
                            <label for="set_female">
                                Kvinna
                                <input id="set_female" type="radio" name="gender" value="f">
                            </label>
                        </div>
                    </fieldset>
                </div>

                <div class="dateOfBirth">
                    <label>Födelsedatum:</label>
                    <SELECT id="year" name="yyyy" onchange="change_year(this)"></SELECT>
                    <SELECT id="month" name="mm" onchange="change_month(this)"></SELECT>
                    <SELECT id="day" name="dd"></SELECT>
                </div>
                <div class="zipcode">
                    <label for="zipcode">Postnummer:</label>
                    <input id="zipcode" placeholder="12345" name="zipcode" onkeyup="ValidateZipCode()" maxlength="5" required />
                </div>
                <div class="email">
                    <label for="email">Email:</label>
                    <input id="email" placeholder="example@gmail.com" name="email" onkeyup="ValidateEmail()" required>
                </div>
                <input id="method" name="method" hidden />
                <button id="submit" class="submit" type="submit">Skicka</button>

            </form>
        </center>
    </div>
</div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KLKMTYJP0K"></script>
<script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-KLKMTYJP0K');</script>